@import "./variables";

body {
  margin: 0;
  padding: 0;
  background-color: $light-blue;
  p {
    margin: 0;
  }
}

.header__wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  content: url("src\\assets\\headerImage2022.png");
}

.cloathanger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.foundation__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;

  padding-inline: 20px;

  @media (max-width: 1080px) {
    flex-direction: row;
    .information__wrapper {
      display: flex;
    }
  }
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}

.information__img,
.link__img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.sweaterscount__text {
  font-weight: bold;
  font-size: 120px;
  color: $white;

  @media (max-width: 1080px) {
    font-size: 80px;
  }
}

.foundationname__text {
  color: $dark-blue;
  font-size: 35px;
  text-align: center;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 25px;
  }
}
.foundations__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 1080px) {
    flex-direction: row;
    gap: 20px;
  }
}

.jumperrack__wrapper {
  width: 100%;
  background-image: url("src\\assets\\coathanger.png");
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  height: 350px;
  @media (max-width: 768px) {
    height: 200px;
  }
  display: flex;
  gap: 20px;
  overflow: hidden;

  button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: $navy-blue;
    border: 3px solid $white;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 35px;
    font-weight: 600;
    color: $white;
    border-radius: 20px;
    cursor: pointer;
  }
}

.sweater__img {
  z-index: 101;
  height: 220px;
  width: 180px;
  @media (max-width: 1080px) {
    width: 180px;
    height: 160px;
  }
  @media (max-width: 768px) {
    width: 120px;
    height: 100px;
  }
}

.foldedsweater__img {
  width: 120px;
  height: auto;

  @media (max-width: 768px) {
    width: 70px;
    height: auto;
  }
}

.empty__sweater {
  width: 120px;
  height: 50px;
}

.shelf {
  width: 100%;

  @media (max-width: 1080px) {
    width: 300px;
  }
}

.shelf__sortable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100px;
}

.sortable__wrapper {
}

.information__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding-inline: 30px;
  padding-bottom: 20px;
  background-color: $navy-blue;

  .close__wrapper {
    position: absolute;
    right: 5%;
    top: 5%;

    cursor: pointer;
    background-color: $dark-blue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    border-radius: 50%;

    img {
      width: 20px;
      height: 20px;
    }
  }

  h2 {
    color: $white;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    color: $white;
    font-size: 25px;
  }
}

.resetbutton__wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding-inline: 30px;
    padding-block: 5px;
    border: 3px solid $white;
    color: $white;
    font-size: 25px;
    border-radius: 20px;
    background-color: $light-red;
    cursor: pointer;
  }
}

.statistic__wrapper {
  padding-inline: 50px;
  margin-top: 40px;

  .donationstable__wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

    table {
      td {
        background-color: $dark-blue;
        color: $white;
        font-weight: bold;
        font-size: 30px;
        padding-inline: 30px;
        padding-block: 5px;
      }
    }
  }

  .lastdonation__heading {
    color: $dark-blue;
    font-size: 80px;
    text-align: center;
  }
  .count__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .donationcount__wrapper {
      background-color: $dark-blue;
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      .count__text {
        color: $white;
        font-weight: bold;
        font-size: 60px;
      }
      .foundationname__text {
        color: $white;
        font-size: 25px;
      }
    }
  }
}

.navigationlink__wrapper {
  position: fixed;
  z-index: 10000;
  top: 10%;
  left: 5%;
  border-radius: 50%;

  background-color: $light-red;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
  }
}

.jumperrack__sortable {
  width: 100%;
  height: 500px;
}
