@import "./variables";

body {
  margin: 0;
  padding: 0;
  background-color: $light-blue;
  p {
    margin: 0;
  }
}

.header__wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  content: url("src\\assets\\headerImage2022.png");
}

.cloathanger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.foundation__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding-inline: 20px;

  @media (min-width: 1080px) {
    flex-direction: column-reverse;
    .information__wrapper {
      display: flex;
      gap: 20px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}

.information__img,
.link__img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.sweaterscount__text {
  font-weight: bold;
  font-size: 120px;
  color: $white;
}

.foundationname__text {
  color: $dark-blue;
  font-size: 35px;
  text-align: center;
  margin: 0;
}
.foundations__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 1080px) {
    flex-direction: row;
    gap: 20px;
  }
}

.jumperrack__wrapper {
  width: 100%;
  background-image: url("src\\assets\\coathanger.png");
  background-size: cover;
  position: relative;
  height: 350px;
  display: flex;
  gap: 20px;
  overflow: hidden;

  button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: $navy-blue;
    border: 3px solid $white;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 35px;
    font-weight: 600;
    color: $white;
    border-radius: 20px;
    cursor: pointer;
  }
}

.sweater__img {
  z-index: 101;
  height: 150px;
  width: 125px;
  @media (max-width: 768px) {
    width: 49px;
    height: 20px;
  }
}

.foldedsweater__img {
  width: 120px;
  height: auto;
}

.shelf {
  width: 100%;
}

.shelf__sortable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100px;
}

.sortable__wrapper {
}

.information__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding-inline: 30px;
  padding-bottom: 20px;
  background-color: $navy-blue;

  .close__wrapper {
    position: absolute;
    right: 5%;
    top: 5%;

    cursor: pointer;
    background-color: $dark-blue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    border-radius: 50%;

    img {
      width: 20px;
      height: 20px;
    }
  }

  h2 {
    color: $white;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    color: $white;
    font-size: 25px;
  }
}

.resetbutton__wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    padding-inline: 30px;
    padding-block: 5px;
    border: 3px solid $white;
    color: $white;
    font-size: 25px;
    border-radius: 20px;
    background-color: $light-red;
    cursor: pointer;
  }
}
